.FundraiserPage{
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    width: 80%;
    /* margin: auto; */
    background-color: #4BA3C3;
    border-radius: 10px;
    margin: 10px 10em 0px 10em;

}

.TitleArea{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row !important;
    border-bottom:1px solid black;

}
.Details{
    display:flex;
    flex-direction: row;
    padding-left: 200px;
    padding-top:55px;
    align-content: space-between !important;

}
.Details .Description{
    margin-left:20vw;
}
.Details .Description div{
    padding: 20px
}

.Progress{
    display:flex;
    flex-direction: column;
    width:50%;
    /* padding-left: 200px; */
    margin-top: 15vh;
    align-self: center;
}
.Progress .Goal{
    font-size: 1.2rem;
    align-self: center;
}

.ButtonContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.btnDonate{
    display:flex;
    justify-content: center;
}
.btnDonate span,
.btnShare span{
    padding-top:5px;
}

.Details img{
    width:300px;
    height:300px;
    border-radius: 4px;
}

