.userFundraiser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    background-color: #D3D3D3;
    border-radius:4px;
    padding-left: 10px;
    padding-right: 10px;
    margin:5px;
}
.userFundraiser img{
    width:150px;
    height:150px;
    border-radius:4px;
}
.userFundraiserDetails{
    display:flex;
    flex-direction: row;
}
.Title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right:10px;
    padding-top:3px;
    margin-right:5vw;
}
.Description{
    font-size: 1.1rem;
    padding-top:5px;
}

.ProgressGoal{
    display:flex;
    background-color:#7cb209;
    border-radius:4px;
}
.ProgressGoal .Progress{
    padding: 5px 10px 0px 10px;
    font-size:1.1rem
}


.Buttons{
    display:flex;
    flex-direction: row;
}
.Status{
    padding-top:5px;
    background-color: tomato;
    border-radius: 4px;

    text-align: center;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-right:2vw
}