/* .Authentication{
    background: rgb(75,163,195);
    background: linear-gradient(90deg, rgba(75,163,195,1) 40%, rgba(255,255,255,1) 40%);
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: row;
    padding: 100px 50px;
    height: 100%;
    text-align: center;  
} */