.Button {
    background-color: #4BA3C3;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    border-radius: 40px;
    width:150px;
    display:flex;
    align-content: center;
    justify-content: center;
}

.Button:first-of-type {
    margin-left: 0;
}

.Donate{
    background-color: #7cb209;
}

.ChangePass{
    background-color:transparent;
    color: black;
    border-radius:4px;   
    padding: 0;
    width: 80%;
}
.SignOut{
    background-color: transparent;
    color:black;
    border-radius:4px;
    padding: 0;
    width: 80%;

}
.DeleteAccount{
    background-color: tomato;
    color:black;
    border-radius:4px;
    padding: 0;
    width: 80%;
}