.Section{
    display: flex;
    flex-flow: column-reverse;
    font-size: small;
}

.RegisterLeft{
    background-color: #4BA3C3;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
}

.RegisterLeftWrapper{
    background-color: #4BA3C3;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    height: 25vh;
    width: 90%;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    
}
.RegisterLeftWrapper h1,
.RegisterLeftWrapper p{
    padding-bottom:30px;
}

.RegisterRight {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 40px;

}

.RegisterRightWrapper{
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    height: 50vh;
    width: 75%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.RegisterRightWrapper p{
    padding:20px;
    font-size:10px;
}

.Input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;

}

.Form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;
    width: 100%
}
.Login{
    display:flex;
    flex-flow: column;
    align-items: center;
}


@media (min-width:500px) and (max-width:727px){
    .Section{
        display: flex;
        flex-flow:row;
    }
    
    .RegisterRight {
        background-color: #ffffff;
        width:60%;
        height:100vh;
        display:flex;
        flex-flow:column;
        align-items: flex-end;
        justify-content: center;
        padding-top:0px;
    }
    
    .RegisterRightWrapper{
        background-color: #ffffff;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        height:80vh;
        width:75%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-flow:column;

    }
    .RegisterRightWrapper p{
        padding:20px;
        font-size:10px;
    }
    
    .RegisterLeft{
        background-color: #4BA3C3;
        width: 40%;
        height:100vh;
        display:flex;
        flex-flow:column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        
    }
    
    .RegisterLeftWrapper{
        background-color: #4BA3C3;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        height: 80vh;
        width: 60%;
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
    }
    .RegisterLeftWrapper h1,
    .RegisterLeftWrapper p{
        font-size:medium;
    }
    .Input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    
    }
    
    .Form{
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px;
        text-align: center;
        width: 80%
    }
    .Login{
        display:flex;
    }
    
}



@media (min-width: 728px){
    .Section{
        display: flex;
        flex-flow:row;
    }
    
    .RegisterRight {
        background-color: #ffffff;
        width:60%;
        height:100vh;
        display:flex;
        flex-flow:column;
        align-items: flex-end;
        justify-content: center;
        padding-top:0px;
    }
    
    .RegisterRightWrapper{
        background-color: #ffffff;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        height:80vh;
        width:75%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-flow:column;

    }
    .RegisterRightWrapper p{
        padding:20px;
        font-size:10px;
    }
    
    .RegisterLeft{
        background-color: #4BA3C3;
        width: 40%;
        height:100vh;
        display:flex;
        flex-flow:column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        
    }
    
    .RegisterLeftWrapper{
        background-color: #4BA3C3;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        height: 80vh;
        width: 60%;
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
    }
    .RegisterLeftWrapper h1,
    .RegisterLeftWrapper p{
        padding-bottom:30px;
    }
    .Input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    
    }
    
    .Form{
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 20px;
        text-align: center;
        width: 70%
    }
    .Login{
        display:flex;
        align-items:center;
        margin-top:10vh;
    }
 Button{
        margin-left:10px !important;
    }
}