.Fundraiser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    background-color: #D3D3D3;
    border-radius:4px;
    padding-left: 10px;
    padding-right: 10px;
    margin:5px;
}
.Fundraiser img{
    width:150px;
    height:150px;
    border-radius:4px;
}
.FundraiserDetails{
    display:flex;
    flex-direction: row;

}
.Title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right:10px;
    padding-top:3px;
    margin-right:10vw;
}
.Description{
    font-size: 1.1rem;
    padding-top:5px;
}
.FundraiserViewMore{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.ModeratorView{
    display:flex;
}
.ModeratorView h4{
    align-self: center;
    padding: 6px 15px 0px 0px
}
.btnViewMore{
    background-color: tomato!important;
}
.btnViewMore span{
    padding-top:5px !important;
}

.statusSelect{
    background-color: #7cb209;
    margin-right:10px;
    padding-top:5px;
    padding-left:10px;
    padding-right: 10px;
    border-radius:4px;
    display: flex;
    font-weight: bold;
    font-size: 1.1rem;
}
