.Fundraising{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 50em;
    background-color: #D3D3D3;
    margin: 10px 10em 0px 10em;
    border-radius:10px;
    border:1px;

}

.btnContainer{
    background-color:  #F4A261;
    height:8%;
    display:flex;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
    width: 60%;
}

.btnAdd{
    background-color:#4BA3C3 !important;
    border-right: 0.5px solid black !important;
    width: 50%;
    border-radius: 0 0 0 10px !important;
}
.btnAdd span,
.btnView span{
    padding-top: 5px !important;
    font-size: 1rem;
}

.btnView{
    background-color: salmon!important;
    border-left: 0.5px solid black !important;
    width: 50%;
    border-radius: 0 0 10px 0 !important;
}

.Fundraisers{
    width:100%;
    padding:50px 20px 10px 20px;
}