body {
  margin: 0;
  font-family: 'Baloo Tammudu 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}

code {
  font-family: 'Baloo Tammudu 2', cursive
}

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Baloo Tammudu 2', cursive;
}


.tab-list {  
  padding-left: 0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #D9C5B2;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding:15px 10px 10px 6px;
  cursor:pointer;
  background-color: #F5FAFA;
  border-radius: 10px;
  margin: 5px;

}

.tab-list-active {
  background-color: tomato ;
  border-radius:10px;
}
