body {
  margin: 0;
  font-family: 'Baloo Tammudu 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}

code {
  font-family: 'Baloo Tammudu 2', cursive
}

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Baloo Tammudu 2', cursive;
}

