.SharingLayout{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-left: 10vw;
}
.Posts{
    display:flex;
    flex-direction: row;;
}
.NoPosts{
    margin:auto;
    padding-right:150px
}

.NoPosts p{
    font-size: 3rem;
    margin-top: 25vh
}
.NoPosts img{
    height: 100px;
    width: 100px;
    margin-left: 90px;
}